{% extends "base.html" %} {% block title %}Accounts{% endblock %} {% block
content %}
<br />
<h2>Accounts</h2>
<br />
<div class="container">
  <div class="row justify-content-between">
    {% for account in accDetails %}
    <div class="col-6" style="color: green">
      <div class="account_card">
        <div class="acc_in">
          <h3>Account No : {{accDetails.index(account)+1}}</h3>
          <div class="container">
            <div><b>Account No </b>: {{account[0].account_no}}</div>
            <div><b>Account Type </b>: {{account[0].account_type}}</div>
            <div><b>Branch ID </b>: {{account[0].branch_id}}</div>
            <div><b>Branch Name </b>: {{account[0].branch_name}}</div>
            <div><b>Balance </b>: {{account[0].balance}}</div>
            <div><b>Loan Type </b>: {{account[1].loan_type}}</div>
            <div><b>Loan Amount </b>: {{account[1].amount}}</div>
          </div>
          <br />
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
