{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<br />
<h2>Debit Funds</h2>
<br />
<form method="post">
  <div class="input-group mb-3">
    <label for="acctype">Account No </label>
    <select class="form-select" id="accno" name="accno" required>
      {% for act in accDetails %}
      <option value="{{act.account_no}}">{{ act.account_no}}</option>
      {% endfor %}
    </select>
  </div>
  <br />
  <div>
  Amount to be debited :
    <div class="input-group mb-3" id="input-wrapper">
      <!-- <label for="acctype">Account No </label> -->
      <div class="prefix">₹</div>
      <input
        class="form-control form-control-lg"
        type="number"
        placeholder="Enter amount to be debited"
        aria-label=".form-control-lg example"
        id="deb_amt"
        name='deb_amt'
        min='10'
        required
      />
    </div>
    <br>
    <div class="center">
      <button type="submit" class="btn btn-success btn-lg">Submit</button>
    </div>
  </form>
</div>

{% endblock %}
